# Binaries
*.exe
*.exe~
zephyr
taskrunner
b1.exe
b2.exe
playground/app.exe
bin/

# Keys & Secrets
*.key
*.pub

# Cache, Storage & Artifacts
.taskcache/
.cache-server/
*.zcap
# Media & Recordings
*.mp4
*.avi
*.webm

# OS / Editor Files
.DS_Store
Thumbs.db
*.swp
*.tmp.*
